.offer-bar-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    padding: 1.25rem;
    border: 1px solid #e0e0e0;
    border-radius: 3px;

    .offer-card {
        border-right: 1px solid #e0e0e0;
        padding: 15px;
    }

    .no-border {
        border-right: none;
    }
}