<div class="carousel-wrapper relative">
    <div class="keen-slider slider-wrapper" #sliderRef>
        <app-product-card *ngFor="let product of products" class="keen-slider__slide" [productData]="product"></app-product-card>
    </div>

    <button [ngClass]="'arrow arrow--left '" (click)="slider.prev()" mat-mini-fab color="primary"
        aria-label="Example icon button with a menu icon">
        <mat-icon>chevron_left</mat-icon>
    </button>
    <button *ngIf="slider" [ngClass]="'arrow arrow--right'" (click)="slider.next()" mat-mini-fab color="primary"
        aria-label="Example icon button with a menu icon">
        <mat-icon>chevron_right</mat-icon>
    </button>
</div>