<app-breadcrumb [currentPage]="pageType" [pageHeading]="pageType"></app-breadcrumb>
<div class="flex align-center justify-center">
    <mat-tab-group (selectedTabChange)="handlePageType($event)" class="tab-group-container" mat-align-tabs="center">
        <mat-tab (click)="handlePageType('Sign In')" class="signin-tab" label="Sign In">
            <ng-template matTabContent><app-sign-in-form></app-sign-in-form></ng-template>
        </mat-tab>
        <mat-tab (click)="handlePageType('Register')" label="Register">
            <ng-template matTabContent><app-register-form></app-register-form></ng-template>
        </mat-tab>
    </mat-tab-group>
</div>