<div class="address-card-wrapper">
    <mat-card [class.card-bg-color]="default==false" class="address-card">
        <div class="flex justify-space-between">
            <mat-card-title class="address-user-name">{{address.fullName}}</mat-card-title>
            <span class="address-type">{{address.addressType | capitalCase}}</span>
        </div>
        <mat-card-content style="font-size: 1rem; line-height: 1.4;">
            <p>{{address.houseNumber}}, {{address.street}}, {{address.city}}</p>
            <p>{{address.state}} - {{address.zip}}</p>
            <p>{{address.country}}</p>
            <p>Mobile: +91 {{address.phoneNumber}}</p>
        </mat-card-content>
        <mat-card-actions class="card-action-area flex align-center">
            <span>
                <button (click)="openDialog()" mat-flat-button>Edit</button>
                <button (click)="handleAddressRemove(address.id)" mat-flat-button>Remove</button>
            </span>

            <span *ngIf="default" class="default-text">Default</span>
        </mat-card-actions>
    </mat-card>
</div>