<mat-card class="product-card-wrapper relative" (mouseenter)="showIcons = true" (mouseleave)="showIcons = false">
    <a routerLink="/product/{{productData.id}}">
        <img width="180" height="180" src="{{productData.image}}" alt="Photo of headphone">
    </a>
    <span class="card-actions flex flex-column align-center justify-center absolute" *ngIf="showIcons">
        <mat-icon (click)="addToWishlist()" class="action-btn">favorite_border</mat-icon>
        <mat-icon (click)="openDialog()" class="action-btn">visibility</mat-icon>
    </span>
    <mat-card-content>
        <div class="product-cat">{{productCategory | capitalCase}}</div>
        <a routerLink="/product/{{productData.id}}">
            <h4 class="product-name">{{productData.name | stringTruncate}}</h4>
        </a>
        <div class="product-info flex align-center justify-space-between">
            <span>
                <mat-icon *ngFor="let _ of [].constructor(maxRating); let i = index" [class.filled]="i < productData.rating">star</mat-icon>
            </span>
            <span *ngIf="route === '/home'" class="product-price">₹ {{productData.price}}.00</span>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button *ngIf="route === '/home'" class="card-btn" mat-button>
            Add To Cart
            <mat-icon>shopping_cart</mat-icon>
        </button>

        <div class="flex align-center justify-space-between" *ngIf="route === '/products'">
            <span class="product-price">₹ {{productData.price}}.00</span>

            <button mat-mini-fab class="card-mini-btn">
                <mat-icon>shopping_cart</mat-icon>
            </button>
        </div>
    </mat-card-actions>
</mat-card>