<app-breadcrumb [currentPage]="'product'" [pageHeading]="'headphone'"></app-breadcrumb>
<div class="body-side-padding product-wrapper">
    <div class="flex">
        <div class="flex">
            <div class="slider-wrapper">
                <app-product-carousel></app-product-carousel>
            </div>
        </div>
        <div class="product-details-wrapper">
            <div class="product-text-details">
                <h2 class="product-name">ONTEC E Headset</h2>
                <div class="flex align-center justify-between">
                    <span class="product-old-price">₹ 532.00</span>
                    <span class="product-off">50% Off</span>
                </div>
                <h3 class="product-price">₹ 266.00</h3>
                <p class="product-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book.</p>
            </div>
    
            <div>
                <span class="product-avalibility">Avalibility : <b class="value">In Stock</b></span>
                <div class="qty-wrapper flex justify-between flex-column">
                    <span class="qty-text">Quantity</span>
                    <div>
                        <button (click)="decreaseQuantity()" mat-button>
                            <mat-icon>remove</mat-icon>
                        </button>
                        <input type="text" value="{{quantity}}">
                        <button (click)="increaseQuantity()" mat-button>
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>
                </div>
                <div class="product-action-btn-wrapper">
                    <button class="product-action-btn" mat-flat-button color="primary">Add to Cart</button>
                    <button class="product-action-btn" mat-flat-button color="primary">Buy Now</button>
                </div>
            </div>
        </div>
    </div>
    <div></div>
</div>