<app-breadcrumb [currentPage]="'product'" [pageHeading]="'headphone'"></app-breadcrumb>
<div class="body-side-padding product-wrapper">
    <div class="flex">
        <div class="flex">
            <div class="slider-wrapper">
                <app-product-carousel [productImages]="product.images"></app-product-carousel>
            </div>
        </div>
        <div class="product-details-wrapper">
            <div class="product-text-details">
                <h2 class="product-name">{{product.name}}</h2>
                <div class="flex align-center justify-between">
                    <span class="product-old-price">₹ {{(product.price * 100) / product.discount | number: '.0-0'}}.00</span>
                    <span class="product-off">{{product.discount}}% Off</span>
                </div>
                <h3 class="product-price">₹ {{product.price}}.00</h3>
                <p class="product-description">{{product.description}}</p>
            </div>
    
            <div>
                <span class="product-avalibility">Avalibility : <b class="value">{{product.quantity > 0 ? 'In Stock' : 'Out of Stock'}}</b></span>
                <div class="qty-wrapper flex justify-between flex-column">
                    <span class="qty-text">Quantity</span>
                    <div>
                        <button (click)="decreaseQuantity()" mat-button>
                            <mat-icon>remove</mat-icon>
                        </button>
                        <input type="text" value="{{quantity}}">
                        <button (click)="increaseQuantity()" mat-button>
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>
                </div>
                <div class="product-action-btn-wrapper">
                    <button class="product-action-btn" mat-flat-button color="primary">Add to Cart</button>
                    <button class="product-action-btn" mat-flat-button color="primary">Buy Now</button>
                </div>
            </div>
        </div>
    </div>
    <div></div>
</div>