<div class="products-wrapper">
    <app-breadcrumb [currentPage]="'products'" [pageHeading]="'shop'"></app-breadcrumb>

    <div class="body-side-padding products-body-wrapper flex">
        <div class="products-left-body">
            <app-filters></app-filters>
        </div>
        <div class="products-right-body">
            <app-view-options (sortingTypeEvent)="handleSortingTypeEvent($event)" (productsListColumnOneEvent)="handleProductsListColumnEvent($event)" (productsListColumnThreeEvent)="handleProductsListColumnEvent($event)" (productsListColumnFourEvent)="handleProductsListColumnEvent($event)" class="flex align-center justify-space-between product-view-options-wrapper"></app-view-options>
            <div>
                <app-product-list [sortingType]="sortingType" [productsListColumn]="productsListColumn" [indexOfFirstItem]="indexOfFirstItem" [indexOfLastItem]="indexOfLastItem" [products]="allProducts"></app-product-list>
                <app-paginator (indexOfFirstItemEvent)="receiveIndexOfFirstItem($event)" (indexOfLastItemEvent)="receiveIndexOfLastItem($event)" [length]="allProducts.length"></app-paginator>
            </div>
        </div>
    </div>
</div>