.register-form-wrapper {
    margin: 2rem 0;
}

.full-width {
    width: 100%;
    margin-bottom: 0.5rem;
}

::placeholder {
    color: #000;
    opacity: 0.7;
    /* Firefox */
}

::-ms-input-placeholder {
    /* Edge 12 -18 */
    color: #000;
    opacity: 0.7;
}

.register-btn {
    width: 100%;
    padding: 0.5rem 0;
    font-size: 1.1rem;
}

::ng-deep {
    .mat-form-field-label {
        color: #808080;
    }

    .mat-form-field-appearance-fill .mat-form-field-flex {
        border: 2px solid #808080;
        border-radius: 5px;
        transition: all 0.3s ease-in-out;
    }

    .mat-form-field-appearance-fill:hover .mat-form-field-flex {
        border: 2px solid #e91e63;
    }

    .mat-form-field-appearance-fill .mat-form-field-flex:focus-within {
        border: 2px solid #e91e63;
    }

    input {
        color: #000;
        font-weight: 500;
    }

    .mat-form-field-underline {
        display: none;
    }

    .mat-form-field-appearance-fill .mat-form-field-underline::before {
        display: none;
    }
}