<form name="form" (ngSubmit)="onRegisterSubmit()" class="register-form-wrapper flex align-center justify-center flex-column">
    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Full Name</mat-label>
        <input type="text" name="fullName" matInput [formControl]="fullNameFormControl" [errorStateMatcher]="matcher"
            placeholder="Ex. abcd xyz" [(ngModel)]="registerFormValue.fullName">
        <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
        <mat-error *ngIf="fullNameFormControl.hasError('required')">
            Full Name is <strong>required</strong>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Username</mat-label>
        <input type="text" name="username" matInput [formControl]="usernameFormControl" [errorStateMatcher]="matcher"
            placeholder="Ex. abc123" [(ngModel)]="registerFormValue.username">
        <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
        <mat-error *ngIf="usernameFormControl.hasError('required')">
            Username is <strong>required</strong>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" name="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
            placeholder="Ex. pat@example.com" [(ngModel)]="registerFormValue.email">
        <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Phone Number</mat-label>
        <input type="text" name="phoneNumber" matInput [formControl]="phoneNumberFormControl" [errorStateMatcher]="matcher"
            placeholder="Ex. +91 0123456789" [(ngModel)]="registerFormValue.phoneNumber">
        <mat-error *ngIf="phoneNumberFormControl.hasError('required')">
            Phone Number is <strong>required</strong>
        </mat-error>
    </mat-form-field>

    <div style="width: 100%" class="flex align-center">
        <mat-form-field style="margin-right: 1rem" class="full-width" appearance="fill">
            <mat-label>Age</mat-label>
            <input type="text" name="age" matInput [formControl]="ageFormControl" placeholder="Ex. 18" [(ngModel)]="registerFormValue.age">
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Gender</mat-label>
            <input type="text" name="gender" matInput [formControl]="genderFormControl" placeholder="Ex. M or F" [(ngModel)]="registerFormValue.gender">
        </mat-form-field>
    </div>

    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input type="password" name="password" matInput [formControl]="passwordFormControl" [errorStateMatcher]="matcher"
            placeholder="Enter Your Password" [(ngModel)]="registerFormValue.password">
        <mat-error *ngIf="passwordFormControl.hasError('required')">
            Password is <strong>required</strong>
        </mat-error>
    </mat-form-field>

    <button type="submit" class="register-btn" mat-flat-button color="primary">Register</button>
</form>