[class^="number-slide"],
[class*=" number-slide"] {
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 520px;
    max-height: 100vh;
}

.main-slider-wrapper {
    display: flex;
    overflow: hidden;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.main-slider {
    overflow: visible !important;
}

.thumbnail {
    overflow: visible !important;
} 

.thumbnail-slider-wrapper {
    display: flex;
    overflow: hidden;
    padding: 0.5rem 0;
}

.thumbnail .keen-slider__slide {
    margin-top: 5px;
    height: 150px;
    cursor: pointer;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.thumbnail .keen-slider__slide.active {
    border: 2px dashed #e91e63;
}