[class^="number-slide"],
[class*=" number-slide"] {
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 520px;
    max-height: 100vh;
}

.main-slider-wrapper {
    display: flex;
    overflow: hidden;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    cursor: grab;
}

.main-slider {
    overflow: visible !important;
    position: relative;
}

.main-slider .icon {
    position: absolute;
    bottom: 1.2rem;
    left: 1rem;
    font-size: 2rem;
    font-weight: 500;
    opacity: 0.7;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.main-slider .icon:hover {
    opacity: 1;
    color: #e91e63;
}

.thumbnail {
    overflow: visible !important;
} 

.thumbnail-slider-wrapper {
    display: flex;
    overflow: hidden;
    padding: 0.5rem 0;
}

.thumbnail .keen-slider__slide {
    margin-top: 5px;
    height: 150px;
    cursor: pointer;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.thumbnail .keen-slider__slide.active {
    border: 2px dashed #e91e63;
}