.address-wrapper {
    padding: 1.5rem 2rem;

    h1 {
        font-size: 1.58rem;
        font-weight: 500;
    }

    .cards-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 1.5rem;
    }
}