<div class="dahsboard-wrapper">
    <div class="flex align-center justify-space-between">
        <h1>Dashboard</h1>
        <button mat-flat-button color="warn">Edit</button>
    </div>

    <div class="dahsboard-data-wrapper flex">
        <div class="dashboard-title-wrapper flex flex-column">
            <span class="data-title">Username</span>
            <span class="data-title">Full Name</span>
            <span class="data-title">Email</span>
            <span class="data-title">Phone Number</span>
            <span class="data-title">Age</span>
            <span class="data-title">Gender</span>
        </div>

        <div class="dashboard-value-wrapper flex flex-column">
            <span class="data-value">{{userData.userName}}</span>
            <span class="data-value">{{userData.fullName}}</span>
            <span class="data-value">{{userData.email}}</span>
            <span class="data-value">+91 {{userData.phoneNumber}}</span>
            <span class="data-value">{{userData.age}}</span>
            <span class="data-value">{{userData.gender == 'M' ? 'Male' : 'Female'}}</span>
        </div>
    </div>
</div>